@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 69.5%;
}

body {
  background-color: rgb(0, 0, 0);
}

.navigation {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem 0rem 1.1rem;
  color: white;
  gap: 1rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-size: 3.6rem;
  padding: 0rem 1.8rem 0rem 1.6rem;
  color: rgb(255, 255, 255);
  gap: 0.7rem;
}

.nav-logo span {
  font-size: 2rem;
  display: none;
  font-weight: 800;
  padding-bottom: 0.4rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.home-icon {
  font-size: 2rem;
  color: rgb(255, 254, 254);
  padding: 1.08rem;
  border-radius: 4rem;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
}

.input-section {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  background-color: rgb(33, 32, 32);
  border-radius: 2rem;
  width: 100%;
  max-width: 40rem;
  padding: 1rem 1.4rem;
}

.input-section:hover,
.input-section:hover .search-icon {
  background-color: rgb(41, 41, 41);
  color: white;
}

.search-icon {
  font-size: 2rem;
  color: rgb(215, 215, 215);
  cursor: pointer;
}

.input-section input {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(226, 225, 225);
  font-size: 1.5rem;
  width: 78%;
}

.input-section input::placeholder {
  color: rgb(179, 179, 179);
  font-size: 1.5rem;
}

.input-section .seprator-line {
  height: 2.2rem;
  width: 0.08rem;
  background: rgb(133, 128, 128);
}

.browse-icon {
  font-size: 2rem;
  color: rgb(218, 216, 216);
  cursor: pointer;
  flex: 1;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-support-link {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  gap: 1rem;
}

.support-btn {
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: rgb(179, 179, 179);
  font-weight: 1000;
  cursor: pointer;
}

.navigation-seprator-line {
  border-left: 2.5px solid rgb(217, 217, 217);
  height: 2.4rem;
}

.nav-login-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: 1000;
  padding: 0rem 0.8rem 0rem 1.8rem;
}

.install-app {
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(179, 179, 179);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
}

.install-app:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.04);
}

.install-app span {
  font-weight: 700;
}

.login-auth-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.auth-btn {
  border-radius: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: rgb(179, 179, 179);
  font-weight: 800;
  cursor: pointer;
}

.log-in {
  padding: 1.34rem 2.8rem;
  background-color: white;
  border-radius: 2.4rem;
  color: rgb(0, 0, 0);
  font-size: 1.55rem;
}

.log-in:hover {
  transform: scale(1.04);
  background-color: rgb(243, 243, 243);
}

.small-screen-links {
  display: flex;
  display: none;
  align-items: center;
  gap: 1.6rem;
  padding-right: 1.9rem;
}

.small-screen-links button {
  color: black;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.small-screen-links .hamburger {
  font-size: 2.4rem;
  cursor: pointer;
  background-color: none;
  border: none;
}

.nav-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  z-index: 999;
  right: -100%;
  transition: right 0.3s ease;
  overflow-y: scroll;
}

.nav-menu .close {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 1.5rem 0rem 0rem;
  font-size: 2.6rem;
  cursor: pointer;
}

.menu-links {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
  justify-content: left;
  gap: 2rem;
  margin-top: 3rem;
  font-weight: 1000;
}

.menu-auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.menu-auth a {
  background-color: transparent;
  display: flex;
  width: 100%;
  font-size: 2rem;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 1000;
  padding: 1rem 0rem;
  transition: transform 0.06s ease;
}

.menu-auth a:hover {
  transform: scale(1.03);
  color: #f0f0f0;
}

.menu-line {
  display: flex;
  background-color: white;
  height: 2.4px;
  width: 1.8rem;
  margin: 2rem 0rem 1.7rem 0rem;
}

.menu-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.4rem;
}

.menu-link a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  width: 100%;
  padding: 1rem 0rem;
  transition: transform 0.06s ease;
}

.menu-link a:hover {
  transform: scale(1.03);
  color: #f0f0f0;
}
