@media (max-width: 1120px) {
  /* Nav */
  .nav-left,
  .nav-right {
    display: none;
  }
  .nav-logo {
    font-size: 3.8rem;
    padding: 0rem 1.1rem;
  }

  .nav-logo span {
    display: inline;
  }

  .small-screen-links {
    display: flex;
  }

  .nav-menu.open {
    right: 0;
  }

  /* Main sections */

  .playlist-container h1 {
    font-size: 1.7rem;
  }

  .main-content {
    flex: 1;
    min-width: 0;
    width: auto;
    margin: 0;
    padding: 1.4rem 0.4rem;
    border-radius: 0;
  }

  .main-song-contents {
    gap: 3rem;
  }

  .song-list {
    gap: 1;
  }

  /* Left parts */

    .playlist-container {
    position: fixed;
    height: 100vh;
    transition: all 0.3s ease;
    width: 80%;
    max-width: 28rem;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    padding: 1rem 0rem 0rem 0rem;
  }

  .playlist-container.active {
    transform: translateX(0);
  }

  .playlist-title .close-playlist {
    display: flex;  
  }

  .playlist-card img {
    width: 5.8rem;
    height: 5.8rem;   
  }

  .playlist-card h2{
    font-size: 1.3rem;
  }



  .responsive-playlist.active {
  color: white;
  cursor: pointer;
  font-size: 2.2rem;
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 50%;
  z-index: 10;
  
}


  /* footer section */

  .footer {
    padding: 0.5rem 1rem 0rem 1rem;
  }

  .full-footer {
    padding: 0.5rem 1rem 0rem 1rem;
  }

  .footer-link-part {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.6rem 0rem 1rem 0rem;
  }

  .footer-links {
    gap: 2.4rem;
  }

  .footer-link {
    gap: 1rem;
  }

  .social {
    margin-bottom: 3rem;
  }

  .copy {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .copy-links {
    gap: 1rem;
  }

  /* music controller */

  .player {
    justify-content: center;
  }

  .music {
    display: none;
  }

  .img-icon img.active {
    display: flex;
  }

  .extra-controls {
    display: none;
  }
}

@media (max-width: 480px) {
  /* nav */
  .open-app {
    display: none;
  }

  /* main */

  .app {
  height: calc(100vh - 10rem - 6.1rem);
}

  .song-list:hover .arrow {
    opacity: 0;
    pointer-events: none;
    display: none;
  }

  /* music controller */
  
  
  .player-bar .player-btns {
    gap: 1.8rem;
    padding: 0rem 0rem 0.4rem 0rem;
  }
  .player-btns div {
    font-size: 1.8rem;
  }
}
